<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<%- include("../../includes/head.ejs") %>
</head>
<body>
		<%- include("../../includes/header.ejs") %>
		<main class="jumbotron">
			<section class="container">
				<h1>Publicações</h1>
			</section>
			<% noticias.forEach(function (el) { %>
			<section class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="noticia_wrapper">
							<span class="noticia_autor">Por <%=el.autor %></span>
							<h3><a href="noticia/<%= el.id%>" class="noticia_titulo"><%= el.titulo%></a></h3>
							<span class="noticia_data"><%=el.data_noticia %></span>
							<p class="noticia_resumo">
								<%=el.conteudo %>
							</p>
						</div>
					</div>
				</div>
			</section>
			<% }) %>
		</main>
		<%- include("../../includes/footer.ejs") %>
</body>
</html>