<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<%- include("../../includes/head.ejs") %>
</head>

<body>
	<%- include("../../includes/header.ejs") %>
	<main class="jumbotron">
		<% noticia.forEach(function (el) { %>
		<section class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card border-secondary mb-4">
						<div class="card-header">
							<h2 class="card-title"><%=el.titulo %></h2>
							<span class="card-subtitle"><%=el.data_noticia %></span>
							<span class="card-subtitle">Por <strong><%=el.autor %></strong></span>
						</div>
						<div class="card-body">
							<a href="../edit/<%=el.id%>" class="edit">Editar</a>
							<p class="card-text"><%=el.conteudo %></p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<% }) %>
	</main>
	<%- include("../../includes/footer.ejs") %>
</body>

</html>