<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<%- include("../../includes/head.ejs") %>
</head>
<body>
		<%- include("../../includes/header.ejs") %>
		<main class="jumbotron">
			<section class="container">
				<h1>Publicações</h1>
			</section>
			<section class="container">
				<div class="d-flex align-content-stretch flex-wrap">
					<% publish.forEach(function (el) { %>
						<div class="p-2 flex-fill">
							<div class="card border-secondary">
								<div class="card-header">
									<h2 class="card-title"><a href="./publish/<%=el.id%>"><%=el.titulo %></a></h2>
									<span class="card-subtitle"><%=el.data_noticia %></span>
									<span class="card-subtitle">Por <strong><%=el.autor %></strong></span>
								</div>
								<div class="card-body">
									<a href="../edit/<%=el.id%>" class="edit">Editar</a>
									<p class="card-text"><%=el.conteudo %></p>
								</div>
							</div>
						</div>
					<% }) %>
				</div>
			</section>
		</main>
		<%- include("../../includes/footer.ejs") %>
</body>
</html>